In [17]:
import pandas as pd
df = pd.read_csv('../csv/mpesa_payments.csv')

In [18]:
df.head(10)

,id,transaction_id,amount,time,msisdn,name,mpesa_payment_status,db_status,created_at,updated_at
0,1,RCV32GIBVF,1,2023-03-31 15:34:36,2547 ***** 551,EMMANUEL,attributed,active,2023-03-31 12:34:37.271319+00,2023-04-07 05:51:35.255943+00
1,2,RCV42HPXMK,200,2023-03-31 15:46:58,2547 ***** 228,TEMITOPE,unknown,active,2023-03-31 12:46:58.932496+00,NaN
2,3,RCV12JY23B,400,2023-03-31 16:09:07,2547 ***** 418,MOHAMED,unknown,active,2023-03-31 13:09:08.117801+00,NaN
3,4,RCV92KRULJ,500,2023-03-31 16:17:21,2547 ***** 829,IRENE,unknown,active,2023-03-31 13:17:22.777533+00,NaN
4,5,RCV92LHK1D,400,2023-03-31 16:24:21,2547 ***** 418,MOHAMED,unknown,active,2023-03-31 13:24:23.225398+00,NaN
5,6,RCV62MJBHA,295,2023-03-31 16:34:05,2547 ***** 132,brian,unknown,active,2023-03-31 13:34:06.582739+00,NaN
6,7,RCV62NLQ7M,114,2023-03-31 16:43:43,2547 ***** 500,LILLIAN,unknown,active,2023-03-31 13:43:44.102129+00,NaN
7,8,RCV72PM8ZZ,695,2023-03-31 17:01:38,2547 ***** 316,OPEYEMI,unknown,active,2023-03-31 14:01:39.254328+00,NaN
8,9,RCV92PNEFF,60,2023-03-31 17:02:02,2547 ***** 466,ZENA,unknown,active,2023-03-31 14:02:03.00071+00,NaN
9,10,RCV62QQ6EW,250,2023-03-31 17:11:27,2547 ***** 140,ANNAH,unknown,active,2023-03-31 14:11:28.152434+00,NaN

In [19]:
headers = list(df.columns)
headers

['id',
 'transaction_id',
 'amount',
 'time',
 'msisdn',
 'name',
 'mpesa_payment_status',
 'db_status',
 'created_at',
 'updated_at']

In [20]:
headers.remove('id')
headers.remove('created_at')
headers.remove('updated_at')
headers

['transaction_id',
 'amount',
 'time',
 'msisdn',
 'name',
 'mpesa_payment_status',
 'db_status']

In [21]:
for i, row in df.head(5).iterrows():
  values = {header: row[header] for header in headers}
  print(values)

{'transaction_id': 'RCV32GIBVF', 'amount': 1, 'time': '2023-03-31 15:34:36', 'msisdn': '2547 ***** 551', 'name': 'EMMANUEL', 'mpesa_payment_status': 'attributed', 'db_status': 'active'}
{'transaction_id': 'RCV42HPXMK', 'amount': 200, 'time': '2023-03-31 15:46:58', 'msisdn': '2547 ***** 228', 'name': 'TEMITOPE', 'mpesa_payment_status': 'unknown', 'db_status': 'active'}
{'transaction_id': 'RCV12JY23B', 'amount': 400, 'time': '2023-03-31 16:09:07', 'msisdn': '2547 ***** 418', 'name': 'MOHAMED', 'mpesa_payment_status': 'unknown', 'db_status': 'active'}
{'transaction_id': 'RCV92KRULJ', 'amount': 500, 'time': '2023-03-31 16:17:21', 'msisdn': '2547 ***** 829', 'name': 'IRENE', 'mpesa_payment_status': 'unknown', 'db_status': 'active'}
{'transaction_id': 'RCV92LHK1D', 'amount': 400, 'time': '2023-03-31 16:24:21', 'msisdn': '2547 ***** 418', 'name': 'MOHAMED', 'mpesa_payment_status': 'unknown', 'db_status': 'active'}

In [22]:
defaults = {"org_acc_bal": 0, "record_source": "safaricom"}
for i, row in df.iterrows():
  values = {header: row[header] for header in headers if not pd.isna(row[header])}
  if pd.isna(row['msisdn']):
      values['msisdn'] = ' '      
  for col in defaults:
    values[col] = defaults[col]
  with open('../query_scripts/mpesa_payments.py', 'a') as fp:
    fp.write('create_mpesa_payment(**'+str(values)+')\n')