In [7]:
import pandas as pd
df = pd.read_csv('../csv/expenses.csv')

In [8]:
df.head(10)

   id                 Name           Created_at  Updated_at
0   1            Transport  2022-02-20 06:44:55         NaN
1   2  Operational Expense  2022-03-01 11:33:13         NaN
2   3        Utility Bills  2022-03-02 08:28:55         NaN
3   4             Salaries  2022-03-03 13:03:03         NaN
4   5             Supplies  2022-03-10 04:19:40         NaN
5   6   Operating Licences  2022-03-22 05:04:19         NaN

In [9]:
headers = list(df.columns)
headers

['id', 'Name', 'Created_at', 'Updated_at']

In [10]:
df = df.rename(columns={'Name': 'expense_category'})

In [11]:
headers = list(df.columns)
headers.remove('Created_at')
headers.remove('Updated_at')
headers.remove('id')
headers

['expense_category']

In [12]:
for i, row in df.head(5).iterrows():
  values = {header: row[header] for header in headers}
  print(values)

{'expense_category': 'Transport'}
{'expense_category': 'Operational Expense'}
{'expense_category': 'Utility Bills'}
{'expense_category': 'Salaries'}
{'expense_category': 'Supplies'}

In [13]:
for i, row in df.iterrows():
  values = {header: row[header] for header in headers if row[header]}

  with open('../query_scripts/expense_categories.py', 'a') as fp:
      fp.write('create_expense_category(**'+str(values)+')\n')