In [17]:
import pandas as pd
df = pd.read_csv('../csv/inventory_units.csv')

In [18]:
df.head(10)

   id         Name           Created_at  Updated_at
0   1          NaN  2020-11-12 11:50:25         NaN
1   2     Litre(s)  2020-11-13 05:37:19         NaN
2   3        Packs  0000-00-00 00:00:00         NaN
3   4      Packets  0000-00-00 00:00:00         NaN
4   5        Dozen  0000-00-00 00:00:00         NaN
5   6          Box  0000-00-00 00:00:00         NaN
6   7      Sachets  0000-00-00 00:00:00         NaN
7   8         Tins  0000-00-00 00:00:00         NaN
8   9   Containers  0000-00-00 00:00:00         NaN
9  10  Kilogram(s)  2020-11-13 05:37:06         NaN

In [19]:
headers = list(df.columns)
headers

['id', 'Name', 'Created_at', 'Updated_at']

In [20]:
headers.remove('id')
headers.remove('Created_at')
headers.remove('Updated_at')
headers

['Name']

In [21]:
for i, row in df.head(5).iterrows():
  values = {'unit_name': row[header] for header in headers}
  print(values)

{'unit_name': nan}
{'unit_name': 'Litre(s)'}
{'unit_name': 'Packs'}
{'unit_name': 'Packets'}
{'unit_name': 'Dozen'}

In [26]:
for i, row in df.iterrows():
  values = {'unit_name': row[header] for header in headers if row[header]}
  for header in headers:
    if row[header] == 'Kilogram(s)':
      values['measurement_mode'] = 'weight'
  with open('../query_scripts/product_units.py', 'a') as fp:
      fp.write('create_product_unit(**'+str(values)+')\n')