In [7]:
import pandas as pd
df = pd.read_csv('../csv/category.csv')

In [8]:
headers = list(df.columns)
headers

['id', 'Category_Name', 'Icon', 'Created_at', 'Updated_at']

In [9]:
df = df.rename(columns={'Category_Name': 'category_name'})

In [10]:
df

,id,category_name,Icon,Created_at,Updated_at
0,1,Chicken Products,chicken.png,2021-03-25 19:43:18,2022-06-19 03:35:22
1,2,Fish,fish.png,2021-03-25 19:43:43,2021-03-25 19:47:50
2,3,Vegetables,vegetables.png,2021-03-25 19:43:58,2021-03-25 19:48:02
3,4,Meat,meat.png,2021-03-25 19:44:03,2021-03-25 19:48:11
4,5,Packaging,NaN,2022-02-25 14:12:14,NaN
5,6,Fruits,NaN,2022-03-04 04:00:25,NaN
6,7,Cooked Food,NaN,2022-03-06 05:52:42,NaN
7,8,Flour,NaN,2022-06-29 12:55:47,NaN
8,9,Spices,NaN,2022-08-15 01:07:51,NaN

In [11]:
headers = list(df.columns)
headers.remove('Created_at')
headers.remove('Updated_at')
headers.remove('id')
headers.remove('Icon')
headers

['category_name']

In [12]:
for i, row in df.head(5).iterrows():
  values = {header: row[header] for header in headers}
  print(values)

{'category_name': 'Chicken Products'}
{'category_name': 'Fish'}
{'category_name': 'Vegetables'}
{'category_name': 'Meat'}
{'category_name': 'Packaging'}

In [13]:
for i, row in df.iterrows():
  values = {header: row[header] for header in headers if row[header]}

  with open('../query_scripts/product_categories.py', 'a') as fp:
      fp.write('create_product_category(**'+str(values)+')\n')