In [1]:
import pandas as pd
df = pd.read_csv('../csv/suppliers.csv')

In [2]:
headers = list(df.columns)
headers

['id', 'Name', 'Supplier_contact', 'Created_at', 'Updated_at']

In [3]:
df = df.rename(columns={'Name': 'supplier_name', 'Supplier_contact': 'supplier_contact'})

In [4]:
df

,id,supplier_name,supplier_contact,Created_at,Updated_at
0,1,Sympha Farm,721537929.0,2021-03-26 22:26:42,NaN
1,2,Victoria Farms,725312186.0,2021-03-27 12:53:16,NaN
2,3,Masaku Standard Meat Suppliers,701322921.0,2022-02-25 09:11:46,NaN
3,4,Huho Farm,703820170.0,2022-02-25 12:29:54,NaN
4,5,Elim Gardens,715281430.0,2022-02-25 12:44:35,NaN
5,6,Asami Packagers,202016568.0,2022-02-25 14:14:51,NaN
6,7,Market,NaN,2022-03-01 10:16:48,NaN
7,8,Tupet (Masai),722614904.0,2022-04-22 08:01:24,NaN
8,9,Juma Isatu (Goat Supplier),721592223.0,2022-05-10 04:47:58,NaN
9,10,Phem Seafood,724776973.0,2022-08-20 13:36:54,NaN
10,11,Karanja Marikiti,721639180.0,2022-09-06 23:37:48,NaN
11,12,George Matumbo,720676757.0,2022-09-06 23:38:17,NaN
12,13,Spice World,722895015.0,2022-09-06 23:39:27,NaN
13,14,Alpha Foods (Seafood),718549694.0,2022-09-06 23:41:01,NaN
14,15,Packaging Deliverer,743450483.0,2022-12-11 04:48:35,NaN
15,16,Divine Business Minded,788127881.0,2022-12-23 07:11:48,NaN

In [5]:
df = df.fillna(0)
df = df.astype({'supplier_contact':'int'})
df = df.astype({'supplier_contact':'str'})
df['supplier_contact'] = df['supplier_contact'].str.zfill(10)

In [6]:
df

,id,supplier_name,supplier_contact,Created_at,Updated_at
0,1,Sympha Farm,0721537929,2021-03-26 22:26:42,0.0
1,2,Victoria Farms,0725312186,2021-03-27 12:53:16,0.0
2,3,Masaku Standard Meat Suppliers,0701322921,2022-02-25 09:11:46,0.0
3,4,Huho Farm,0703820170,2022-02-25 12:29:54,0.0
4,5,Elim Gardens,0715281430,2022-02-25 12:44:35,0.0
5,6,Asami Packagers,0202016568,2022-02-25 14:14:51,0.0
6,7,Market,0000000000,2022-03-01 10:16:48,0.0
7,8,Tupet (Masai),0722614904,2022-04-22 08:01:24,0.0
8,9,Juma Isatu (Goat Supplier),0721592223,2022-05-10 04:47:58,0.0
9,10,Phem Seafood,0724776973,2022-08-20 13:36:54,0.0
10,11,Karanja Marikiti,0721639180,2022-09-06 23:37:48,0.0
11,12,George Matumbo,0720676757,2022-09-06 23:38:17,0.0
12,13,Spice World,0722895015,2022-09-06 23:39:27,0.0
13,14,Alpha Foods (Seafood),0718549694,2022-09-06 23:41:01,0.0
14,15,Packaging Deliverer,0743450483,2022-12-11 04:48:35,0.0
15,16,Divine Business Minded,0788127881,2022-12-23 07:11:48,0.0

In [7]:
headers = list(df.columns)
headers.remove('Created_at')
headers.remove('Updated_at')
headers.remove('id')
headers

['supplier_name', 'supplier_contact']

In [8]:
for i, row in df.head(5).iterrows():
  values = {header: row[header] for header in headers}
  print(values)

{'supplier_name': 'Sympha Farm', 'supplier_contact': '0721537929'}
{'supplier_name': 'Victoria Farms', 'supplier_contact': '0725312186'}
{'supplier_name': 'Masaku Standard Meat Suppliers', 'supplier_contact': '0701322921'}
{'supplier_name': 'Huho Farm', 'supplier_contact': '0703820170'}
{'supplier_name': 'Elim Gardens', 'supplier_contact': '0715281430'}

In [10]:
for i, row in df.iterrows():
  values = {header: row[header] for header in headers if row[header]}

  with open('../query_scripts/suppliers.py', 'a') as fp:
      fp.write('create_supplier(**'+str(values)+')\n')